<div class="row">
    <div class="col-lg-3 col-xs-12">
        <div class="deviceHolder center-block">
            <div class="device360" id="bicycle"></div>
            <span class="loading"></span>
            <div class="slider1" style="margin: 1% auto; width: 100%;"></div>
        </div>  
    </div>
    <div class="col-lg-3 col-xs-12">
        <div class="deviceHolder center-block">
            <div class="device360" id="infrashape"></div>
            <span class="loading"></span>
            <div class="slider2" style="margin: 1% auto; width: 100%;"></div>
        </div>  
    </div>
    <div class="col-lg-3 col-xs-12">
        <div class="deviceHolder center-block">
            <div class="device360" id="rollshape"></div>
            <span class="loading"></span>
            <div class="slider3" style="margin: 1% auto; width: 100%;"></div>
        </div>  
    </div>
    <div class="col-lg-3 col-xs-12">
        <div class="deviceHolder center-block">
            <div class="device360" id="vibrashape"></div>
            <span class="loading"></span>
            <div class="slider4" style="margin: 1% auto; width: 100%;"></div>
        </div>  
    </div>
</div>