<!-- <div class="row">
	<img alt="studio urody" src="assets/img/czapeczka.jpg" style="width: 100%"/>
</div> -->
<div class="row vertical-align">
	<div class="col-xs-12 col-md-4 col-lg-3">
		<img src="assets/img/dobrzanska.jpg" alt="Prof. dr. hab. n. med. Anna Dobrzańska" class="img-circle img-responsive doctors-image">
	</div>
	<div class="col-xs-12 col-md-8 col-lg-9 doctors-paragraph">
		<h1>Prof. dr. hab. n. med. Anna Dobrzańska</h1>
		<h3>Dyrektor ds. Medycznych Ladies First</h3>
		<p>
			Absolwentka Akademii Medycznej w Lublinie. Specjalista II stopnia w dziedzinie pediatrii oraz neonatologii. Od 1996 r. kierownik Kliniki Neonatologii Patologii i Intensywnej Terapii Noworodka Instytutu „Pomnik – Centrum Zdrowia Dziecka” w Warszawie. Przez 13. lat pełniła funkcję Krajowego Konsultanta w Dziedzinie Pediatrii. Autorka wielu prac naukowych opublikowanych w kraju i za granicą. Członek licznych stowarzyszeń medycznych m.in. członek Rady Naukowej przy Ministrze Zdrowia,
			Członek Komitetu Rozwoju Człowieka PAN, członek Zarządu Głównego Polskiego Towarzystwa Pediatrycznego,
			członek zarządu „Zdrowe Pokolenia” — Stowarzyszenie Promocji Zdrowego Żywienia, Redaktor naczelna wydawnictwa „Standardy Medyczne — Profilaktyka Zdrowotna”.
		</p>
	</div>
</div>
<div class="row vertical-align" style="text-align: right;">
	<div class="col-xs-12 col-md-8 col-lg-9 doctors-paragraph" id="div1">
		<h1>Dr. Karina Felberg</h1>
		<h3>Ekspert medycyny estetycznej</h3>
		<p>
			Absolwentka Warszawskiego Uniwersytetu Medycznego, stypendystka Uniwersytetu w Perugii (Włochy), certyfikowany specjalista medycyny estetycznej z ponad ośmoletnim doświadczeniem w tej dziedzinie. Prowadzi kursy i szkolenia dla lekarzy z zakresu medycyny estetycznej. Kładzie nacisk na bezpieczeństwo i skuteczność wykonywanych zabiegów. Pracuje na preparatach najwyższej jakości. Zmarszczki są efektem upływu czasu oraz skutkiem działania wielu czynników zależnych od naszego trybu życia. To wgłębienia powstałe w skórze z powodu zmian w jej "rusztowaniu" , utworzonym przez włókna kolagenowe i elastylowe. Pani Doktor jak nikt inny rozumie tę zależność, dzięki czemu stała się jedną z ekspertek w dziedzinie upiększania skóry.				
		</p>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3" id="div2">
		<img src="assets/img/felberg.jpg" alt="Prof. dr. hab. n. med. Anna Dobrzańska" class="img-circle img-responsive doctors-image">
	</div>
</div>
<div class="row vertical-align">
	<div class="col-xs-12 col-md-4 col-lg-3">
		<img src="assets/img/szostek.jpg" alt="Prof. dr. hab. n. med. Anna Dobrzańska" class="img-circle img-responsive doctors-image">
	</div>
	<div class="col-xs-12 col-md-8 col-lg-9 doctors-paragraph">
		<h1>Dr. Renata Szostek</h1>
		<p>
			Absolwentka wydziału lekarskiego oraz wydziału stomatologii akademii medycznej w warszawie, od 2002 roku prowadzi indywidualną praktykę lekarską we własnym gabinecie. Świadczy usługi z zakresu stomatologii estetycznej, zachowawczej, dziecięcej, protetyki, chirurgii.  Nieustannie się szkoli i rozwija. W swojej pracy kładzie nacisk na estetykę i profesjonalizm wykonywanych prac.					
		</p>
	</div>
</div>
<div class="row vertical-align" style="text-align: right;">
	<div class="col-xs-12 col-md-8 col-lg-9 doctors-paragraph" id="div3">
		<h1>Katarzyna Czarnota</h1>
		<p>
			Absolwentka Warszawskiego Uniwersytetu Medycznego w dziedzinie kosmetologii i dietetyki.
			Mistrzyni technologii liftingu i zabiegów anti-aging
			Pacjenci uwielbiają ją za dokładność, precyzyjność i perfekcję wykonywanych zabiegów. Słynie z pięknego uśmiechu, pełnego zaangażowania w pracy. Prowadzi szkolenia na terenie całej Polski z kosmetologii, kosmetyki, pielęgnacji skóry, dermatologii i biochemii.
			Nieustannie podnosi swoje kwalifikacje na prestiżowych szkoleniach i kursach.				
		</p>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3" id="div4">
		<img src="assets/img/czarnota.jpg" alt="Prof. dr. hab. n. med. Anna Dobrzańska" class="img-circle img-responsive doctors-image">
	</div>
</div>