<footer>
	<div class="row margin-default">
		<div class="col-lg-4 col-12 col-sm-8">
			<div
			class="fb-page" 
			data-href="https://www.facebook.com/ladiesfirst.warszawa/"
			data-small-header="false"
			data-hide-cover="false" 
			data-show-facepile="true"
			data-width="500px"
			data-adapt-container-width="true"
			>
			<blockquote cite="https://www.facebook.com/ladiesfirst.warszawa/" class="fb-xfbml-parse-ignore">
				<a href="https://www.facebook.com/ladiesfirst.warszawa/">Ladies First: Profesjonalne Studio Modelowania Sylwetki</a>
			</blockquote>
			</div>
		</div>
		<div class="col-md-3 col-lg-4 col-12 col-sm-4">
			<img class="footer-logo" src="assets/img/lady_logo.png" alt="ladies-first" height="216px">
		</div>
		<div class="col-md-12 col-xs-12 col-lg-4 contact-info">
			<br>
			<h3>Zadzwoń i zapisz się</h3>
			<p>
				<i class="fa fa-phone fa-2x" aria-hidden="true" style="margin-right: 10px;"></i><a href="tel:+48 698 811 000">698-811-000</a><br>
				<i class="fa fa-envelope fa-2x" aria-hidden="true" style="margin-right: 10px;"></i><a href="mailto:studio-warszawa@ladies-first.pl">studio-warszawa@ladies-first.pl</a><br>
				<i class="fa fa-location-arrow fa-2x" aria-hidden="true" style="margin-right: 10px;"></i><span class="font-bigger-footer">ul.Makolągwy 25 <br> 02-811 Warszawa</span>
			</p>
		</div>
	</div>
	<p>Copyright © Ladies First - 2017 - <a href="regulamin.html" target="_blank" style="color: red;">Regulamin</a></p>
</footer>
