<div>
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <img class="img-baner" src="assets/img/sonoqueen/sono_baner.jpg" alt="Baner Sonoqueen" width="100%">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid parallax-section" style="padding: 2%">
    <p>
      SonoQueen to prawdziwie królewski dotyk odmładzający, zamknięty w formie szybkiego, komfortowego zabiegu na twarz i ciało. Proces przebudowy i liftingu odbywa się wewnątrz Twojej skóry, dzięki temu natychmiast powracasz do swoich codziennych zajęć, a resztę pracy nad młodym wyglądem pozostawiasz swojej skórze.
    </p>
  </div>
    <div class="row">

        <div class="col-lg-12">
            <div class="col-lg-4 col-xs-6 application-item">
              <div class="col-lg-2 col-xs-12 padding">
                <img src="assets/img/sonoqueen/lifting.jpg" class="circle-image img-responsive">
              </div>
              <div class="col-lg-10 col-xs-12 circle-title">
                  <h4>Lifting twarzy i ujędrnianie ciała</h4>
              </div>
            </div>
            <div class="col-lg-4 col-xs-6 application-item">
              <div class="col-lg-2 col-xs-12 padding">
                <img src="assets/img/sonoqueen/napiecie.jpg" class="circle-image img-responsive">
              </div>
              <div class="col-lg-10 col-xs-12 circle-title">
                  <h4>Napięcie delikatnej skóry w okolicach oczu</h4>
              </div>
            </div>
            <div class="col-lg-4 col-xs-6 application-item">
              <div class="col-lg-2 col-xs-12 padding">
                <img src="assets/img/sonoqueen/ramiona.jpg" class="circle-image img-responsive">
              </div>
              <div class="col-lg-10 col-xs-12 circle-title">
                  <h4>Ujędrnienie skóry w okolicy ramion </h4>
              </div>
            </div>
            <div class="col-lg-4 col-xs-6 application-item">
              <div class="col-lg-2 col-xs-12 padding">
                <img src="assets/img/sonoqueen/belly.jpg" class="circle-image img-responsive">
              </div>
              <div class="col-lg-10 col-xs-12 circle-title">
                  <h4>Lifting wiotkiej skóry na brzuchu </h4>
              </div>
            </div>
            <div class="col-lg-4 col-xs-6 application-item">
              <div class="col-lg-2 col-xs-12 padding">
                <img src="assets/img/sonoqueen/ass.jpg" class="circle-image img-responsive">
              </div>
              <div class="col-lg-10 col-xs-12 circle-title">
                  <h4>Uniesienie i ujędrnienie pośladków</h4>
              </div>
            </div>
            <div class="col-lg-4 col-xs-6 application-item">
              <div class="col-lg-2 col-xs-12 padding">
                <img src="assets/img/sonoqueen/knee.jpg" class="circle-image img-responsive">
              </div>
              <div class="col-lg-10 col-xs-12 circle-title">
                  <h4>Wygładzenie skóry w okolicach ud i kolan</h4>
              </div>
            </div>
            <div class="col-lg-4 col-xs-6 application-item">
              <div class="col-lg-2 col-xs-12 padding">
                <img src="assets/img/sonoqueen/chin.jpg" class="circle-image img-responsive">
              </div>
              <div class="col-lg-10 col-xs-12 circle-title">
                  <h4>Redukcja tzw. „drugiego podbródka” Rozświetlenie skóry</h4>
              </div>
            </div>
            <div class="col-lg-4 col-xs-6 application-item">
              <div class="col-lg-2 col-xs-12 padding">
                <img src="assets/img/sonoqueen/wrinkles.jpg" class="circle-image img-responsive">
              </div>
              <div class="col-lg-10 col-xs-12 circle-title">
                  <h4>Wygładzenie zmarszczek</h4>
              </div>
            </div>
            <div class="col-lg-4 col-xs-6 application-item">
              <div class="col-lg-2 col-xs-12 padding">
                <img src="assets/img/sonoqueen/time.jpg" class="circle-image img-responsive">
              </div>
              <div class="col-lg-10 col-xs-12 circle-title">
                  <h4>Spowolnienie procesu starzenia skóry</h4>
              </div>
            </div>
        </div>

    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12 about-section">
        <h2>CZYM JEST TECHNOLOGIA HIFU ZASTOSOWANA W SONOQUEEN?</h2>
        <div class="row">
          <div class="col-lg-8 col-xs-12">
            <p>
              SonoQueen jest to nowoczesne urządzenie wykorzystujące technologie HIFU (High Intensity Focused Ultrasound) czyli skupionej wiązki fal ultradźwiękowych.
              Technologia ultradźwięków była już znana w latach 70 XX wieku i stosuje się ją z powodzeniem do dzisiaj w różnych obszarach medycyny.
              USG wykorzystuje te same fale ultradźwiękowe co SonoQueen.
            </p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <img src="assets/img/sonoqueen/sq21.png" alt="Sono device" width="100%">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-xs-12">
            <img src="assets/img/sonoqueen/przed_i_po.png" alt="Sono device" width="100%">
          </div>
          <div class="col-lg-8 col-md-12 col-xs-12">
            <p><span style="font-size: 44px;">A więc jaka jest różnica?</span></p>
            <p>W USG fala określonej częstotliwości działa jak radar, odbijając się od różnych struktur, np. wątroby czy płodu, a potem wracając, „rysuje” obraz na ekranie.
            Natomiast w HIFU zastosowana jest precyzyjnie zogniskowana fala ultradźwiękowa o wysokiej energii na małym punktowym obszarze.</p>
            <p>Generowanie odpowiedniej częstotliwości fali pozwala nam na dotarcie do 3 warstw skóry: skóry właściwej, tkanki tłuszczowej i powięzi mięśniowej (SMAS).
            Tak głęboka penetracja tkanek pozwala na osiągnięcie jeszcze lepszego efektu liftingu twarzy i nie tylko, jest to doskonały zabieg do pozbycia się wiotkiej skóry po ciąży czy gwałtownym spadku wagi w innych częściach ciała.</p>
          </div>
        </div>
      </div>
    </div>