<div class="row">
    <div class="col-xs-12 siteTitle">
        <h1>Kapsuła Beauty & Slim</h1>
    </div>
</div>
<img alt="maszyny do ochudzania" style="width: 100%;" src="./assets/img/capsule/beautyAndSlim.jpg"/>
<div class="container-fluid">
    <h2>
        5000 kalorii w 30 minut!
    </h2>
    <br/>
    <h4>
        To odchudzanie XXI wieku, innowacyjne urządzenie emitujące wiązki podczerwieni zintegrowani z aromaterapią, koloroterapia, elektrostymulacja i fototerapią ( odbudowa naczynek kolagenowych). Przyczynia się do modelowania sylwetki i odmładzania jednocześnie gwarantując osiagniecie doskonałej formy. Wszystkie funkcje działają jednocześnie co daje spotęgowany efekt i utratę nawet do 5000 kalorii w 30 minut.
        Dodatkowe wzmocnienie efektów kapsuły specjalnie przygotowanymi maskami przyspieszjącymi spalanie tłuszczu i pozbycie się cellulitu, powoduje że jest to obecnie najbardziej skuteczne urządzenie na rynku.
    </h4>
    <br/>
    <h4>
        &bull; Aromaterapia<br/>
        &bull; Chromoterapia<br/>
        &bull; Elektrostymulacja<br/>
        &bull; Podczerwień IR<br/>
        &bull; Fotoodmładzanie LED Kolagen<br/>
        &bull; Koloroterapia
    </h4>
</div>