.add-padding {
  padding: 0 10%; }

.pad {
  padding: 3%; }

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 250px;
  color: #000;
  opacity: 0.15; }

.benefits {
  color: #fff;
  text-align: center;
  padding: 20px; }
  .benefits h4 {
    font-size: 30px;
    margin-top: 10px;
    text-align: center; }
  .benefits:nth-last-child(n+3) {
    padding-bottom: 0; }

.benefits-inner {
  height: 250px;
  border-radius: 2px;
  position: relative;
  background-color: rgba(132, 76, 130, 0.85); }

.benefits-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

p {
  font-size: 20px;
  padding: 0 15px; }

b {
  color: #844C82; }

.benefits-area {
  position: relative;
  background-image: url("./assets/img/pik_100.jpg"); }

#waypoint2 {
  position: relative;
  margin-left: 50%; }

.inset-shadow {
  -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 1px 1px 5px -3px rgba(0, 0, 0, 0.75); }
