<div class="row">
    <div class="col-xs-12 siteTitle">
        <h1>Dieta</h1>
    </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-12">
    <h2>Specjalnie dla Ciebie</h2>
    <h3>
      przygotujemy dwutygodniową dietę, którą otrzymasz przy zakupie pakietu treningowego.
      To Ty decydujesz jak restrykcyjna ma być dieta i jaki cel sobie postawiłaś.
      Jeśli chcesz stracić na wadze bez szkody dla swojego zdrowia, stosuj się do następujących wskazówek:
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-1 col-lg-5 col-xs-12 dietList">
    <ul>
      <li>Codziennie spożywaj 4-5 posiłków, regularnie, co 3-4 godziny.</li>
      <li>Pij co najmniej 2 litry wody dziennie ( zwiększa ona metabolizm o 30% oraz oczyszcza organizm z toksyn).</li>
      <li>Każdy z posiłków powinien w składać się z białka, warzyw i złożonych węglowodanów.</li>
      <li>Posiłki powinny być małe objętościowo, ale częste by nie dopuścić do uczucia głodu. (jedząc częściej – chudniesz).</li>
      <li>Spożywaj produkty zdrowe, nieprzetworzone i świeże.</li>
      <li>Unikaj gotowych dań, produktów typu fast food, posiłków typu instant (dania z torebki).</li>
    </ul>
  </div>
  <div class="col-lg-6 col-xs-12 dietList">
    <ul>
      <li>Pamiętaj o codziennym spożywaniu śniadania! Posiłek ten powinien być zjedzony w ciągu godziny po przebudzeniu. Śniadanie rozpędza Twój metabolizm na cały dzień.</li>
      <li>Nie podjadaj między posiłkami.</li>
      <li>Unikaj słodyczy oraz słodkich i gazowanych napoi.</li>
      <li>Unikaj słodzenia kawy i herbaty, dzięki temu zmniejszysz magazynowanie tłuszczu w organizmie.</li>
      <li>Nie jedz podrobów, tłustych serów (sery żółte) i mięsa wieprzowego oraz ściągaj skórę z mięsa drobiowego!</li>
      <li>Unikaj produktów mącznych, zastępuj je warzywami, zwłaszcza zielonymi i liściastymi.</li>
    </ul>
  </div>
</div>
