<div class="row">
    <div class="col-xs-12 siteTitle">
        <h1>Rytułał Piękna</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-1 col-md-offset-1">
        <img class="img img-responsive center-block" src="./assets/img/ritual/krem.jpg" alt="Krem">
    </div>
    <div class="col-xs-12 col-md-9">
        <p>
            Nie masz ochoty spędzać godzin w łazience aby Twoja skóra twarzy wyglądała na zdrową i promienną? Nie masz czasu na brudne, czasochłonne zabiegi na ciało w domowym zaciszu? Zapraszamy wszystkie Panie na zabiegi kosmetyczne, które wykonamy w trakcie ćwiczeń na naszych urządzeniach nie tracąc Waszego cennego czasu!
        </p>
    </div>
</div>
<div class="row ritualOffer">
    <div class="col-lg-offset-1 col-lg-5 col-xs-12">
        <h2>OFERTA ZABIEGÓW NA TWARZ</h2>
        <ul>
            <li>
                <h3>Lift me up</h3>
                <p>
                    Zabieg odżywczo-liflingujący z wykorzystaniem kosmetyków Bandi Perfect Lift.
                    Pobudzi procesy antyoksydacyjne w skórze, stymuluje proces wytwarzania kolagenu.
                </p>
            </li>
            <li>
                <h3>Zatrzymać czas</h3>
                <p>
                    Wspomaga naturalne procesy regeneracji i rewitalizcji skóry, 
                    odbudowuje płaszcz hydrolipidowy naskórka dzięki czemu przyraca odpowiedni poziom nawilżenia.
                </p>
            </li>
            <li>
                <h3>„Zastrzyk” świeżości</h3>
                <p>
                    Nawilżający zabieg z wykorzystaniem kwasu hialuronowego.
                    Przywraca skórze odpowiedni poziom nawilżenia, dzięki czemu wygłdza zmarszczki powstałe w wyniku wysuszenia, ujędrnia oraz poprawia koloryt skóry.
                </p>
            </li>
            <li>
                <h3>Soft touch</h3>
                <p>
                    Zabieg odżywczo-liflingujący z wykorzystaniem urządzenia Byas Sensation.
                </p>
            </li>
            <li>
                <h3>Bye bye pimples</h3>
                <p>
                    Przeciwtrądzikowy zabieg, który usuwa z powierzchni skóry patogenne bakterie, reguluje wydzielanie sebum, 
                    zwęża ujścia gruczołów łojowych. Rezultatem zabiegu jest złagodzenie stanów zapalnych, zmatowienie skóry bez wysuszania, 
                    przeciwdziała powstaniu wyprysków i zaskórników, poprawia koloryt skóry.
                </p>
            </li>
            <li>
                <h3>Czysta Pzyjemność</h3>
                <p>
                    Zabieg oczyszcza, zwęża i reguluje pracę gruczołów łojowych, działa antybakeryjnie i przeciwzapalnie.
                </p>
            </li>
        </ul>
    </div>

    <div class="col-lg-5 col-xs-12">
            <h2>OFERTA ZABIEGÓW NA CIAŁO</h2>
            <ul>
                <li>
                    <h3>Cytrusowy gaj</h3>
                    <p>
                        Zabieg antycellulitowy z zastosowaniem koncentratu i maski antycellulitowej firmy Bandi i bodywrappingu.
                        Poprawia mikrocyrkulację krwi, przyśpiesza spalanie tkanki tłuszczowej oraz redukuje zastój limfy. 
                        Rezultatem zabiegu jest redukcja cellulitu, wygładzenie i ujędrnienie skóry.
                    </p>
                </li>
                <li>
                    <h3>Piekielna słodycz</h3>
                    <p>
                        Zabieg antycellulitowy max z zastosowaniem piekącej maski z cynamonem i bodywrappingu
                        Poprzez wzmożone krążenie krwi i pobudzenie metabolizmu tkanek, pozbywamy się nie tylko cellulitu, ale także zbędnych centymetrów w talli i udach, dodatkowo wygładza i ujędnia skórę.
                    </p>
                </li>
                <li>
                    <h3>Błotne Szaleństwo</h3>
                    <p>
                        Zabieg intensywnie wyszczuplający oraz pielęgnujący z zastosowaniem drogocenngo błota z morza martwego.
                    </p>
                </li>
                <li>
                    <h3>Shake it baby</h3>
                    <p>
                        Zabieg wyszczuplający z zastosowaniem maski CelluSlim i pobudzającym masażem ud.
                    </p>
                </li>
            </ul>
        </div>
</div>