<!-- <div class="row">
    <img alt="studio urody" src="assets/img/trycho.jpg" style="width: 100%"/>
</div> -->
<div class="row">
    <div class="col-xs-12 siteTitle">
        <h1>Włosy</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-1 col-lg-5 col-xs-12 list">
        <h3>Jeśli Cierpisz na:</h3>
        <ul>
            <li>Okresowe lub przewlekłe wypadanie włosów</li>
            <li>Łojotok skóry głowy</li>
            <li>Łupież suchy</li>
            <li>Podrażnienie i stany zapalne skóry</li>
            <li>Wrażliwa i sucha skóra głowy</li>
            <li>Łamliwe i kruche pozbawione blasku włosy</li>
        </ul>
        <p>To znak że powinnaś wybrać się na konsultację trychologiczną, podczas której dobierzemy odpowiedni program rewitalizujący i dobierzemy kosmetyki do pielęgnacji domowej, wzmacniające efekt.</p>
    </div>
    <div class="col-lg-5 col-xs-12 list">
        <h3>Wykonujemy zabiegi:</h3>
        <ul>
            <li>Peeling Skóry głowy</li>
            <li>Zabiegi przeciw wypadaniu włosów</li>
            <li>Zabiegi stymulujący wzrost włosów</li>
            <li>Zabiegi przeciw łojotokowi skóry głowy</li>
            <li>Zabiegi przeciw łupieżowe</li>
            <li>Zabieg łagodzący na podrażnioną skórę głowy</li>
            <li>Zabiegi intensywnie regenerujące</li>
        </ul>
    </div>
</div>
<div class="row drCyj">
    <div class="col-lg-12">
       <h2>Zabiegi specjalne - dr.Cyj</h2>
       <div class="col-lg-offset-1 col-lg-5 col-xs-12">
            <h3>Zabieg</h3>
            <p>
                Ile trwa pojedynczy zabieg (bez znieczulenia lub ze znieczuleniem, jakim)?
                ​<br><br>
                Cały zabieg trwa ok. 30 min. Jest praktycznie bezbolesny i nie wymaga znieczulenia.
                Ile trwa cała kuracja, czyli ilu powtórek wymaga zabieg, w jakim odstępie czasu?
                ​<br><br>
                Terapia trwa 2 miesiące i wymaga 4 sesji w odstępach co 2 tygodnie. Dla podtrzymania efektu zaleca się zabieg przypominający po 6 miesiącach.
                Przebieg zabiegu krok po kroku, czy wymaga przygotowania się, czy boli?
                ​<br><br>
                Zabieg nie wymaga specjalnego przygotowania, jedynie dzień przed zabiegiem i po zabiegu nie wskazane jest picie alkoholu. Zabieg z wykorzystaniem preparatu DR.CYJ Hair Filler polega na wykonaniu serii wkłuć w skórę głowy
                w powierzchniowe warstwy skóry właściwej. Zabieg jest praktycznie bezbolesny, ponieważ w przeciwieństwie do mezoterapii wymaga mniej wkłuć. Lekarz podaje niewielką ilość preparatu, dzięki czemu nie jest tak odczuwalny dla skóry głowy.                    
            </p>
       </div>
       <div class="col-lg-5 col-xs-12">
            <img class="center-block img-responsive peptydowaTerapiaWlosow" src="assets/img/hairs/drCyj.jpg" alt="Zabiegi Specjalne DrCyj">
       </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-5 col-xs-12">
        <img class="img-responsive center-block" src="assets/img/hairs/drCyj2.jpg" alt="DrCyj Odbudowa Cebulek">
    </div>
    <div class="col-lg-5 col-xs-12 list">
        <h2>Jakiego efektu możemy się spodziewać, po jakim czasie od zabiegu?</h2>
        <p>Już pierwszy zabieg zatrzymuje wypadanie włosów. Natomiast kolejne zabiegi pobudzają krążenie i rewitalizują mieszki włosowe przyspieszając odrost włosów.</p>

        <h2>Jak długo efekt jest widoczny?</h2>
        <p>Efekt jest widoczny przez rok. Po tym okresie terapię należy powtórzyć.</p>

        <ul>
            <li>Powstrzymuje wypadanie włosów</li>
            <li>Skuteczny w walce z alopecją</li>
            <li>Przyspiesza odrost włosów</li>
            <li>Pogrubia i zagęszcza włosy</li>
            <li>Pobudza krążenie i poprawia ukrwienie skóry głowy</li>
            <li>Rewitalizuje mieszki włosowe</li>
            <li>Pielęgnuje skórę głowy</li>
            <li>Wzmacnia włosy przed i po przeszczepi</li>
        </ul>
    </div>
</div>
<div class="row drCyj">
    <h2>Zabiegi Specjalne - Infuzja tlenowa skóry głowy</h2>
    <div class="col-lg-offset-1 col-lg-5 col-xs-12">
        <p>
            <br><br>
            Procedura infuzji tlenowej skóry głowy w trychologii jest oparta na działaniu cząsteczek O2. Skoncentrowany tlen charakteryzuje się całym wachlarzem pozytywnych działań i efektów. Każda komórka naszego ciała potrzebuje do życia tlenu, skóra głowy również. 
            Terapeutyczne zabiegi tlenowe polecane są w szczególności osobom, które borykają się z wypadaniem włosów, ich osłabieniem, problemami łojotokowymi lub różnego rodzaju schorzeniami z  podłożem nadmiernej keratynizacji. 
            <br><br>
            Zabieg infuzji tlenowej polega na równoczesnym wtłaczaniu w skórę głowy wysoko sprężonego tlenu cząsteczkowego oraz składników aktywnych, które to są niejako przemycane w głąb skóry, dzięki zastosowaniu wysokiego ciśnienia.
        </p>
    </div>
    <div class="col-lg-5 col-xs-12">
        <h3>Jakiego efektu możemy się spodziewać?​</h3>
        <p>
            Bardzo dobre rezultaty uzyskamy wykonując zabieg osobom, które prowadzą niezdrowy tryb życia. Transport tlenu odbywa się wolniej, krew nie jest wysoko wysycona cząsteczkami O2. Do mieszka włosowego, dociera niewielką ilość tlenu więc jego rozwój jest spowolniony a w wielu wypadkach całkowicie zatrzymany.
            <br><br>
            Niewątpliwym atutem infuzji tlenowej skóry głowy jest bezinwazyjna procedura zabiegowa, brak przerwania ciągłości naskórka, brak powikłań i skutków ubocznych. Zabiegi nie wymagają rekonwalescencji i mogą być wykonywane przez cały rok.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-5 col-xs-12">
        <p>
            Pierwsze polskie preparaty trychologiczne do profesjonalnych zabiegów w gabinetach i pielęgnacji domowej, opracowane w laboratorium badawczym BANDI przez ekspertów w dziedzinie pielęgnacji skóry głowy.
            <br><br>
            Linia Tricho-esthetic została opracowana na najczęstsze problemy skóry głowy i włosów, aby uzupełniać terapię farmakologiczną, zwiększać jej skuteczność i wydłużać efektywność leczenia dla zdrowych, mocnych i pięknych włosów.Pierwsze polskie preparaty trychologiczne do profesjonalnych zabiegów w gabinetach i pielęgnacji domowej.
            <br><br>
            Pierwsze silnie skoncentrowane aktywne ekstrakty w połączeniu z prowitaminą D3 na najczęstsze problemy skóry głowy dla silnych i zdrowych włosów.
            <br>
            Opracowane we współpracy z prekursorką Trychologii w Polsce Kingą Esterą Jach-Skrzypczak założycielkę Międzynarodowego Stowarzyszenia Trychologii Estetycznej (ISAT).
        </p>
    </div>
    <div class="col-lg-5 col-xs-12">
        <div class="row">
            <div class="col-lg-6 col-xs-12 list">
                <ul>
                    <li>Nadmierne wypadanie włosów</li>
                    <li>Łupież suchy</li>
                    <li>Łupież tłusty</li>
                    <li>Sucha i wrażliwa skóra głowy</li>
                    <li>Łojotok skóry głowy</li>
                    <li>Kruche i łamliwe włosy</li>
                </ul>
            </div>
            <div class="col-lg-6 col-xs-12">
                <img class="img-responsive center-block" src="assets/img/hairs/bandi.jpg" alt="kruche i łamliwe włosy">
            </div>
        </div>
    </div>
</div>