<div class="row">
	<img alt="studio urody" src="assets/img/franczyza.jpg" style="width: 100%;"/>
</div>
<div id="waypoint2"></div>
<div class="row add-padding">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-md-5 col-xs-12 pad">
				<h1><b id="zl">0</b> ZŁOTYCH</h1>
				<p>tyle kosztuje pakiet dzięki któremu klientki mogą wejść do świata zabiegów modelujących, odchudzających i pielęgnujący</p>
			</div>
			<div class="col-md-5 col-xs-12 col-md-offset-2 pad">
				<h1><b id="m">0</b> METRÓW KWADRATOWYCH</h1>
				<p>taka powierzchnia wystarczy, by stworzyć unikatowe miejsce dla kobiet XXI wieku</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-xs-12 pad">
				<h1><b id="client">0</b> KLIENTÓW <br> W MIESIĄCU</h1>
				<p>średnio tyle klientek odwiedza miesięcznie Studio</p>
			</div>
			<div class="col-md-5 col-xs-12 col-md-offset-2 pad">
				<h1><b id="profit">0</b> ŚREDNI <br>POZIOM ZYSKU</h1>
				<p>Know How i zaangażowanie franczyzobiorcy przekłada się na konkretny zysk</p>
			</div>
		</div>	
	</div>	
</div>

<div class="row benefits-area">
	<div class="col-lg-4 col-md-6 col-xs-12 benefits">
		<div class="benefits-inner inset-shadow">
			<i class="fa fa-money icon" aria-hidden="true"></i>				
			<div class="benefits-wrapper">
				<h4>GWARANCJA  RENTOWNOŚCI</h4>
				<p>Każdy franczyzobiorca otrzymuje gwarancję rentowności, która umożliwia osiągnięcie zysku już w pierwszym miesiącu i zwrot inwestycji po roku działalności.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12 benefits">
		<div class="benefits-inner inset-shadow">
			<i class="fa fa-line-chart icon" aria-hidden="true"></i>				
			<div class="benefits-wrapper">
				<h4>SPRAWDZONY MODEL BIZNESU</h4>
				<p>Rekomendacje i zadowolenie kobiet to nasza najlepsza wizytówka, sprawdzony know-how wraz z zaleceniami centrali gwarantuje zysk z inwestycji już w pierwszym miesiącu.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12 benefits">
		<div class="benefits-inner inset-shadow">
			<i class="fa fa-handshake-o icon" aria-hidden="true"></i>				
			<div class="benefits-wrapper">
				<h4>WSPARCIE BIZNESU</h4>
				<p>Wspieramy naszych franczyzobiorców na każdym kroku, każdego dnia udzielamy niezbędnych porad  i wskazówek do prowadzenia biznesu.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12 benefits">
		<div class="benefits-inner inset-shadow">
			<div class="benefits-wrapper">
				<i class="fa fa-newspaper-o icon" aria-hidden="true"></i>					
				<h4>MARKETING</h4>
				<p>Dostarczamy naszym franczyzobiorcom najlepsze materiały i techniki marketingowe dopasowane do potrzeb klientek.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12 benefits">
		<div class="benefits-inner inset-shadow">
			<i class="fa fa-book icon" aria-hidden="true"></i>				
			<div class="benefits-wrapper">
				<h4>SZKOLENIA I WIEDZA</h4>
				<p>Jako franczyzobiorca, zyskujesz wiedzę i dostęp do szkoleń u najlepszych trenerów i specjalistów.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12 benefits">
		<div class="benefits-inner inset-shadow">
			<i class="fa fa-life-ring icon" aria-hidden="true"></i>				
			<div class="benefits-wrapper">
				<h4>WSPARCIE PARTNERÓW</h4>
				<p>Zyskujesz wsparcie specjalistów, którzy pomogą odnieść ci sukces.</p>
			</div>
		</div>
	</div>
</div>
