<div class="row nailsContainer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 siteTitle nailsTitle">
        <div class="nailsTitleBg"></div>
        <h1 id="curvedTitle">Paznokcie</h1>
      </div>
    </div>
  </div>
<div class="col-lg-offset-1 col-lg-10 col-xs-12 nailsContent">
  <h2>Dłonie to wizytówka człowieka, dlatego doskonale zadbamy o nie w naszym Studiu Modelowania Sylwetki. Oferujemy różne rodzaje manicure dostosowane do indywidualnych potrzeb klienta z szerokiej gamy kolorystycznej.</h2>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <img src="assets/img/nails/hands1.jpg" class="img-responsive center-block">
      <h3>Manicure Klasyczny</h3>
      <span class="priceTag">40zł</span>
    </div>
    <div class="col-md-4 col-xs-12">
      <img src="assets/img/nails/hands2.jpg" class="img-responsive center-block">
      <h3>Manicure Hybrydowy</h3>
      <span class="priceTag">80zł</span>
    </div>
    <div class="col-md-4 col-xs-12">
      <img src="assets/img/nails/hands3.jpg" class="img-responsive center-block">
      <h3>Manicure Japoński</h3>
      <span class="priceTag">80zł</span>
    </div>
  </div>
  <h2>Dodatkowo po każdym manicure odżywiamy i nawilżamy skórę dłoni za pomocą zabiegu parafinowego. Tworzy ona warstwę ochronną, która zatrzymuje wilgoć w skórze co przyczynia się do hamowania procesów starzenia. Zabiegi parafinowe wykonywane są również osobno (15zł).</h2>
  </div>
</div>