<div class="row">
    <div class="col-xs-12 siteTitle">
        <h1>Paznokcie</h1>
    </div>
</div>
<div class="col-lg-offset-1 col-lg-10 col-xs-12">
  <h2>Dłonie to wizytówka człowieka, dlatego doskonale zadbamy o nie w naszym Studiu Modelowania Sylwetki. Oferujemy różne rodzaje manicure dostosowane do indywidualnych potrzeb klienta z szerokiej gamy kolorystycznej.</h2>
  <ul>
    <li>Manicure klasyczny (29zł)</li>
    <li>Manicure klasyczny + lakier (49zł)</li>
    <li>Manicure hybrydowy (79zł)</li>
    <li>Manicure hybrydowy + żel na naturalnej płytce (85zł/89zł)</li>
    <li>Manicure hybrydowy + przedłużenie żelowe na formie (99zł)</li>
  </ul>
  <h2>Dodatkowo po każdym manicure odżywiamy i nawilżamy skórę dłoni za pomocą zabiegu parafinowego.Tworzy ona warstwę ochronną, która zatrzymuje wilgoć w skórze co przyczynia się do hamowania procesów starzenia. Zabiegi parafinowe wykonywane są również osobno (15zł).</h2>
</div>

