table{
    font-size: 34px;
    tr{
        border-bottom: 1px solid #000;
    }
    tr:last-child{
        border: none;
    }
    td{
        border: none;
    }
    td:last-child{
        border-left: 1px solid #000;
    }
}

.benefits-list{
    li{
        font-size: 3em;
    }
}