.tentant{
    height: 65vh;
    width: 50%;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    filter:opacity(50%);
    position: relative;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.tentant:hover{
    cursor: pointer;
    filter:opacity(100%);
}
.wawa{
    background-image: url('./assets/img/saloons/wawa.jpg');
    background-position: center;
}
.lodz{
    background-image: url('./assets/img/saloons/lodz.jpg');
    background-position: right top;
}

.wawa:hover{
    background-size: 135%;
    -webkit-box-shadow: 0px 0px 59px 11px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 59px 11px rgba(0,0,0,1);
    box-shadow: 0px 0px 59px 11px rgba(0,0,0,1);
    .te-wawa{
        color: #fff;
    }
}
.lodz:hover{
    background-size: 135%;
    background-position: center;
    -webkit-box-shadow: 0px 0px 59px 11px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 59px 11px rgba(0,0,0,1);
    box-shadow: 0px 0px 59px 11px rgba(0,0,0,1);
    z-index: 100;
    .te-lodz{
        color: #fff;
    }
}
.tentant-span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: block;
    // transform: rotate(-90deg);
    font-size: 20em;
    color: #000;
    writing-mode: vertical-rl;

}

