@import 'variables';
@import 'navbar';
@import 'devices.component';
@import 'device-comp';// <-- This one is 360 machine (!)
@import 'cellulite.component';
@import 'franchise-component';
@import 'header-component';
@import 'home-component';
@import 'medicine-component';
@import 'responsive';
@import 'saloons';
@import 'sonoqueen';
@import 'color-rainbow';
@import 'booksy';
@import 'hairs';
@import 'contact';
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'mixins';
@import 'nails';
@import 'diet';
@import 'ritual';


/* COLOR WIODĄCY: rgb(132, 76, 130) #844C82 */


// font-family: 'Raleway', sans-serif;

// font-family: 'Pontano Sans', sans-serif;

// font-family: 'Playfair Display', serif;

body{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body > .container-fluid{
    padding: 0;
}
.margin-default{
    margin: 25px;
}

.hero{
    height: 93vh;
    background-image: url("assets/img/babeczka.jpg");
    background-size: cover;
    background-position: center;
}
.siteTitle{
    padding: 30px;
    color: #844C82;
    position: relative;
    z-index: 100;
    h1{
        font-size: 10em;
        text-align: center;
        text-shadow: 2px 2px 7px rgba(255, 255, 255, 1);
    }
}

.img-baner{
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
}
.list{
    ul{
        li{
            font-size: 3em;
        }
    }
}

// FOOTER    ////////////////////////////////////////////////

footer{
    padding: 10px;
    background-color: #000;
    color: #fff;
    p{
        text-align: center;
        margin: 0;
        font-size: 12px;
    }
}

.font-bigger-footer{
    font-size: 20px;
}

a[href^="tel:"] {
    font-size: 24px !important;
    text-decoration: none;
    color: #fff;
}
a[href^="mailto:"]{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    height: 40px;
}
.footer-logo{
    display: block;
    margin: 0 auto;
    padding: 25px;
}
.contact-info{
    text-align: center;
    h3{
        text-align: center;
        margin: 0;
    }
    
}

// FOOTER  END///////////////////////////////////////////////
